trigger:
  branches:
    include:
      - develop

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: Setup
    displayName: "Setup Environment"
    jobs:
      - job: Setup
        displayName: "Install Dependencies"
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.x'

          - script: |
              python -m venv task_manager/env  # Crear entorno virtual
              source task_manager/env/bin/activate
              pip install -r task_manager/requirements.txt
            displayName: "Setup Python environment and install dependencies"

  - stage: LintAndTests
    displayName: "Run Linter and Tests"
    dependsOn: Setup
    jobs:
      - job: Lint
        displayName: "Run linter"
        steps:
          - script: |
              source task_manager/env/bin/activate
              pip install flake8
              # Excluir el entorno virtual del an치lisis para evitar falsos positivos
              flake8 . --exclude=env,task_manager/env --count --select=E9,F63,F7,F82 --show-source --statistics
            displayName: "Run flake8 linter"

      - job: Tests
        displayName: "Run tests"
        dependsOn: Lint
        steps:
          - script: |
              source task_manager/env/bin/activate
              pip install pytest pytest-cov
              pytest --junitxml=task_manager/test-results.xml --cov=task_manager
            displayName: "Run tests and generate coverage report"

          - task: PublishTestResults@2
            inputs:
              testResultsFiles: '**/task_manager/test-results.xml'
              testRunTitle: 'Tests for Develop'

  - stage: SonarCloudAnalysis
    displayName: "SonarCloud Analysis"
    dependsOn: LintAndTests
    jobs:
      - job: SonarCloud
        displayName: "Analyze code with SonarCloud"
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.x'

          # Prepara el entorno para el an치lisis de SonarCloud
          - task: SonarCloudPrepare@2
            inputs:
              SonarCloud: 'SonarCloud'  # Reemplazar con el nombre de tu Service Connection
              organization: 'unisabaneta'
              scannerMode: 'CLI'
              configMode: 'manual'
              cliProjectKey: 'unisabaneta_sag-unisabaneta'
              cliProjectName: 'SAG-UNISABANETA'
              cliSources: '.'
              extraProperties: |
                sonar.python.coverage.reportPaths=task_manager/test-results.xml

          - script: |
              source task_manager/env/bin/activate
              pip install -r task_manager/requirements.txt
            displayName: "Install dependencies for SonarCloud analysis"

          # Ejecuta el an치lisis de SonarCloud
          - task: SonarCloudAnalyze@2
            displayName: "Run SonarCloud analysis"

          # Publica los resultados del an치lisis de SonarCloud
          - task: SonarCloudPublish@2
            displayName: "Publish SonarCloud results"

  - stage: PublishArtifacts
    displayName: "Publish Build Artifacts"
    dependsOn: SonarCloudAnalysis
    jobs:
      - job: Publish
        displayName: "Publish Build Artifacts"
        steps:
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)'
              artifactName: 'build-artifacts'
              publishLocation: 'Container'
            displayName: "Publish build artifacts"
